/*style Global*/

body{
    font-family: 'raleway', 'Times New Roman', 'Times', sans-serif;
    text-align: justify;
    margin:0;
    padding: 0;
}

/*style des images*/
.image_accueil{
    width:230px;
    height:215px;
}
.image_fleur{
    width: 70%;
    height:400px;
}

/*style des titres*/
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*style Header*/
.banner{
    display: flex;
    justify-content: space-between;
}

.logo{
    width:50%;
}

.titre_principal{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

.menu_navigation{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
}

.lien_menu{
    color: black;
    padding-right: 1rem;
}

/* style main*/
.premier_paragraphe{
    background-color:lightpink;
    padding: 1.5rem;
    line-height: 25px;
}

.second_paragraphe{
    margin-top: 1.5rem;
    background-color: lightgreen;
    padding: 1.5rem;
    line-height: 25px;
}
/* style footer*/
.logo_footer{
    width:15%;
    height:15%;
}